.course-body {
  div {
    margin: 4px 0;
  }
}

.course-title {
  font-size: 20px;
  font-weight: 600;
  color: #013552;
}

.course-subtitle {
  font-size: 14px;
  font-weight: 600;
  color: #013552;
}

.course-description {
  margin: 8px 0;
  font-size: 14px;
  line-height: 20px;
}

.course-special-color {
  font-weight: 500;
  color: #fc2519;
}
