/seroto_form/__pycache__/__init__.cpython-310.pyc
/seroto_form/controllers/__pycache__/__init__.cpython-310.pyc
/seroto_form/controllers/__pycache__/course_register.cpython-310.pyc
/seroto_form/controllers/__pycache__/website_snippet.cpython-310.pyc
/seroto_form/models/__pycache__/__init__.cpython-310.pyc
/seroto_form/models/__pycache__/course_service.cpython-310.pyc
/seroto_form/models/__pycache__/crm_lead.cpython-310.pyc
/seroto_form/models/__pycache__/sale_order.cpython-310.pyc
/seroto_form/models/__pycache__/seroto_care.cpython-310.pyc
/seroto_form/models/__pycache__/seroto_course.cpython-310.pyc
/seroto_form/models/__pycache__/seroto_student.cpython-310.pyc
/viettotal_seroto_edu/__pycache__/__init__.cpython-310.pyc
/viettotal_seroto_edu/controllers/__pycache__/__init__.cpython-310.pyc
/viettotal_seroto_edu/controllers/__pycache__/website_registration.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/__init__.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/account_move.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/crm_lead.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/edu_academic.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/edu_admission.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/edu_assessment.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/edu_attendance.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/edu_care.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/edu_certificate.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/edu_learning.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/edu_parent.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/edu_student.cpython-310.pyc
/viettotal_seroto_edu/models/__pycache__/edu_teacher.cpython-310.pyc
/viettotal_seroto_edu/services/__pycache__/__init__.cpython-310.pyc
/viettotal_seroto_edu/services/__pycache__/registration_service.cpython-310.pyc
/viettotal_seroto_edu/utils/__pycache__/__init__.cpython-310.pyc
/viettotal_seroto_edu/utils/__pycache__/choices.cpython-310.pyc
/seroto_education/models/__pycache__/__init__.cpython-310.pyc
/seroto_education/models/__pycache__/academic_attendance.cpython-310.pyc
/seroto_education/models/__pycache__/academic_certificate.cpython-310.pyc
/seroto_education/models/__pycache__/academic_class.cpython-310.pyc
/seroto_education/models/__pycache__/academic_course.cpython-310.pyc
/seroto_education/models/__pycache__/academic_enrollment.cpython-310.pyc
/seroto_education/models/__pycache__/academic_intake.cpython-310.pyc
/seroto_education/models/__pycache__/academic_ip_log.cpython-310.pyc
/seroto_education/models/__pycache__/academic_session.cpython-310.pyc
/seroto_education/models/__pycache__/account_move.cpython-310.pyc
/seroto_education/models/__pycache__/crm_lead.cpython-310.pyc
/seroto_education/models/__pycache__/res_partner.cpython-310.pyc
/seroto_education/models/__pycache__/sale_order.cpython-310.pyc
/seroto_education/models/__pycache__/website.cpython-310.pyc
/seroto_education/__pycache__/__init__.cpython-310.pyc
/seroto_education/controllers/__pycache__/__init__.cpython-310.pyc
/seroto_education/controllers/__pycache__/main.cpython-310.pyc
/seroto_course_event/__pycache__/__init__.cpython-310.pyc
/seroto_course_event/controllers/__pycache__/__init__.cpython-310.pyc
/seroto_course_event/controllers/__pycache__/main.cpython-310.pyc
/seroto_course_event/models/__pycache__/__init__.cpython-310.pyc
/seroto_course_event/models/__pycache__/course_event.cpython-310.pyc
/seroto_course_event/models/__pycache__/course_event_type.cpython-310.pyc
