<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <!-- Khóa học -->
  <menuitem
    id="menu_seroto_course_root"
    name="Khoá học"
    sequence="10"/>
  <menuitem
    id="menu_seroto_course"
    parent="menu_seroto_course_root"
    name="Khoá học"
    action="action_seroto_course"
    sequence="1"/>
  <menuitem
    id="menu_seroto_course_class"
    parent="menu_seroto_course_root"
    name="Lớp học"
    action="action_seroto_course_class"
    sequence="2"/>
  <menuitem
    id="menu_seroto_course_session"
    parent="menu_seroto_course_root"
    name="Buổi học"
    action="action_seroto_course_session"
    sequence="3"/>
  <menuitem
    id="menu_seroto_course_audience"
    parent="menu_seroto_course_root"
    name="Đối tượng khóa học"
    action="action_seroto_course_audience"
    sequence="4"/>
  
  <!-- Học viên -->
  <menuitem
    id="menu_seroto_student_root"
    name="Học viên"
    sequence="20"/>
  <menuitem
    id="menu_seroto_student"
    parent="menu_seroto_student_root"
    name="Học viên"
    action="action_seroto_student"
    sequence="1"/>

  

    

    <!-- <menuitem id="menu_edu_course"
              name="Khoá học"
              parent="menu_edu_academic_root"
              action="action_edu_course"
              sequence="10"/>

    <menuitem id="menu_edu_course_class"
              name="Lớp học"
              parent="menu_edu_academic_root"
              action="action_edu_course_class"
              sequence="20"/>

    <menuitem id="menu_edu_session"
              name="Buổi học"
              parent="menu_edu_academic_root"
              action="action_edu_session"
              sequence="30"/>

    <menuitem id="menu_edu_teacher"
              name="Giáo viên"
              parent="menu_edu_academic_root"
              action="action_edu_teacher"
              sequence="40"/> -->
</odoo>